<div class="card random center">
    <% @informations["drinks"].each do |information|%>
        <div class="card-header">
            <h4><%= link_to information["strDrink"], cocktail_detail_path(information["idDrink"]) %></h4>
        </div>

        <img src=<%= information["strDrinkThumb"]%>>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col right">
                        <b>CATEGORY :</b>
                    </div>
                    <div class="col left">
                        <%= information["strCategory"]%>
                    </div>
                </div>

                <div class="row">
                    <div class="col right">
                        <b>GLASS :</b>
                    </div>
                    <div class="col left">
                        <%= information["strGlass"]%>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">INSTRUCTIONS</h5>
                    <p class="card-text"><%= information["strInstructions"]%></p>
                </div>
            </li>
        </ul>

        <div class="card-body">
            <h5 class="card-title">INGREDIENTS</h5>
            <div class="row">
                <div class="col-5 right bi-caret-right"><b></b></div>
                <div class="col-7 left"> <%= information["strMeasure1"]%> <%= link_to information["strIngredient1"], ingredient_path(information["strIngredient1"]) %> </div>
            </div>

            <%if information["strIngredient2"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure2"]%> <%= link_to information["strIngredient2"], ingredient_path(information["strIngredient2"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient3"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure3"]%> <%= link_to information["strIngredient3"], ingredient_path(information["strIngredient3"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient4"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure4"]%> <%= link_to information["strIngredient4"], ingredient_path(information["strIngredient4"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient5"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure5"]%> <%= link_to information["strIngredient5"], ingredient_path(information["strIngredient5"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient6"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure6"]%> <%= link_to information["strIngredient6"], ingredient_path(information["strIngredient6"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient7"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure7"]%> <%= link_to information["strIngredient7"], ingredient_path(information["strIngredient7"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient8"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure8"]%> <%= link_to information["strIngredient8"], ingredient_path(information["strIngredient8"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient9"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure9"]%> <%= link_to information["strIngredient9"], ingredient_path(information["strIngredient9"]) %> </div>
                </div>
            <%end%>

            <%if information["strIngredient10"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"> <%= information["strMeasure10"]%> <%= link_to information["strIngredient10"], ingredient_path(information["strIngredient10"]) %> </div>
                </div>
            <%end%>
        </div>
    <%end%> 
</div


