<div class="row">
    <div class="col-4">
        <div class="card ing-img center">
            <h1><%= @ingredients["ingredients"][0]["strIngredient"]%></h1>
            <img src="https://www.thecocktaildb.com/images/ingredients/<%= @ingredients["ingredients"][0]["strIngredient"]%>-medium.png">
        </div>
    </div>

    <div class="col-8">
        <div class="card ing-details center">
            <div class="card-header">
                <h4><%= @ingredients["ingredients"][0]["strIngredient"]%> Details</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col right">
                            <b>TYPE :</b>
                        </div>
                        <div class="col left">
                            <%= @ingredients["ingredients"][0]["strType"]%>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col right">
                            <b>IS ALCOHOL? :</b>
                        </div>
                        <div class="col left">
                            <%= @ingredients["ingredients"][0]["strAlcohol"]%>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="card-body">
                    <% if @ingredients["ingredients"][0]["strDescription"] != nil%>
                        <h5 class="card-title">DESCRIPTION</h5>
                        <p class="card-text"><%= @ingredients["ingredients"][0]["strDescription"]%></p>
                    <%end%>
                    </div>
                </li>
            </ul>
        </div
    </div>
</div>


        