<div class="card random center">
    <% @randoms["drinks"].each do |random|%>
        <div class="card-header">
            <h4>FEATURED DRINK</h4>
        </div>

        <img src=<%= random["strDrinkThumb"]%> >

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col right">
                        <b>NAME :</b>
                    </div>
                    <div class="col left">
                        <%= link_to random["strDrink"], cocktail_detail_path(random["idDrink"]) %>
                    </div>
                </div>
                <div class="row">
                    <div class="col right">
                        <b>CATEGORY :</b>
                    </div>
                    <div class="col left">
                        <%= random["strCategory"]%>
                    </div>
                </div>

                <div class="row">
                    <div class="col right">
                        <b>GLASS :</b>
                    </div>
                    <div class="col left">
                        <%= random["strGlass"]%>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">INSTRUCTIONS</h5>
                    <p class="card-text"><%= random["strInstructions"]%></p>
                </div>
            </li>
        </ul>
        
        <div class="card-body">
            <h5 class="card-title">INGREDIENTS</h5>
            <div class="row">
                <div class="col-5 right bi-caret-right"><b></b></div>
                <div class="col-7 left"><%= random["strMeasure1"]%> <%= link_to random["strIngredient1"], ingredient_path(random["strIngredient1"]) %></div>
            </div>

            <%if random["strIngredient2"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure2"]%> <%= link_to random["strIngredient2"], ingredient_path(random["strIngredient2"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient3"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure3"]%> <%= link_to random["strIngredient3"], ingredient_path(random["strIngredient3"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient4"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure4"]%> <%= link_to random["strIngredient4"], ingredient_path(random["strIngredient4"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient5"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure5"]%> <%= link_to random["strIngredient5"], ingredient_path(random["strIngredient5"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient6"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure6"]%> <%= link_to random["strIngredient6"], ingredient_path(random["strIngredient6"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient7"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure7"]%> <%= link_to random["strIngredient7"], ingredient_path(random["strIngredient7"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient8"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure8"]%> <%= link_to random["strIngredient8"], ingredient_path(random["strIngredient8"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient9"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure9"]%> <%= link_to random["strIngredient9"], ingredient_path(random["strIngredient9"]) %></div>
                </div>
            <%end%>

            <%if random["strIngredient10"] != nil%>
                <div class="row">
                    <div class="col-5 right bi-caret-right"><b></b></div>
                    <div class="col-7 left"><%= random["strMeasure10"]%> <%= link_to random["strIngredient10"], ingredient_path(random["strIngredient10"]) %></div>
                </div>
            <%end%>
        </div>
    <%end%>
</div>